.content-form {
	width: 100%;
	padding: 0 24px;
	box-sizing: border-box;
}

.content-form input[type="text"],
.content-form input[type="email"],
.content-form textarea {
	margin-left: 0;
	margin-bottom: 20px;
	padding: 8px 12px;
	width: 100%;
	box-sizing: border-box;
	font-family: var(--main-font);

	outline: none;
	border-color: gray;
	border: 1px solid #ccc;
	transition: box-shadow 0.3s ease, border-color 0.3s ease;
	border-radius: 4px;
}

input[type="text"]:focus,
textarea:focus {
	border-color: #3b82f6;
	box-shadow: 0 0 8px rgba(59, 130, 246, 0.5);
}

.content-card {
	width: 100%;
}

.content-form label {
	font-family: var(--main-font);
	padding-left: 0;
	padding-bottom: 0;
	font-size: 15px;
	font-weight: 550;
}

input.message {
	padding-bottom: 80px !important;
}

.content-form button {
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 15px;
	padding: 12px 16px;
	align-self: flex-start;

	border: none;
	border-radius: 5px;
	font-family: var(--main-font);
	font-size: 13px;
	color: white;
	background-color: rgb(17, 175, 17);
	transition: background-color 0.2s ease, opacity 0.2s ease;
	cursor: pointer;
}

button:disabled {
	background-color: gray;
	cursor: default;
}

@media (max-width: 768px) {
	.content-form {
		padding: 0 16px;
	}
}
