.solid-banner{
	font-family: var(--main-font);

	min-height: 58vh;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #0077ae;

	display: flex;
	flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
	box-sizing: border-box;
}
.logo{
	margin-bottom: 10px;
}
.solid-banner h1{
	font-family: var(--main-font);
	font-size: 64px;
	color: white;
	line-height: .1;
}
h2{
	font-family: var(--main-font);
	font-size: 32px;
	font-weight: 400;
	color: white;
}
p h2{
	color: black;
}
p a:link{
	color: rgb(1, 114, 179);
	text-decoration: none;
}
p a:visited{
	color: rgb(1, 114, 179);
}
p a:hover{
	text-decoration: underline;
}