@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --text: #4d5156;
  --text-h: #202124;
  --bg: #fff;
  --border: #dfe1e5;
  --code-bg: #f8f9fa;
  --accent: #1a73e8;
  --accent-bg: rgba(26, 115, 232, 0.08);
  --accent-border: #dadce0;
  --url: #006621;
  --shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);

  --sans: arial, sans-serif;
  --heading: arial, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
	--main-font: 'Montserrat', var(--sans);
  letter-spacing: normal;
  color-scheme: light;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

html, body{
	scrollbar-color: #444444 #1e1e1e;
	scrollbar-width: thin;
}

body {
  margin: 0;
}

.content-box {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
/* Container, card, and title for about, resources, privacy, and contact us pages */
.content-container{
	display:flex;
	flex-direction: column;
	align-items: center;
	min-height: 100dvh;
	padding-top:15px;
	
	background-color: #f4f6f8b2;
}

.content-card{
	display:flex;
	flex-direction: column;
	align-items: center;

	background-color: white;
	border-radius: 16px;
	box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.1);
	margin-top: 40px;
	margin-bottom: 28px;
	max-width: 60%;
	
}

.content-title{
	font-family: var(--main-font);
	font-size: 40px;
	font-weight: 550;
}

.copyright{
	font-family: var(--main-font);
	font-size: 12px;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 400;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: normal;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

.app-container{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
}

.main-content{
	flex: 1;
}

.logo{
	width: 20vw;
	height: auto;
	margin-bottom: -20px;
}

@media (max-width: 768px) {
	.content-container {
		padding-top: 10px;
	}

	.content-card {
		max-width: calc(100% - 32px);
		margin-top: 24px;
		margin-bottom: 20px;
	}

	.content-title {
		font-size: 28px;
		text-align: center;
		padding: 0 16px;
	}

	.logo {
		width: 50vw;
		max-width: 200px;
		margin-bottom: 0;
	}
}

